@model PizzeriaDelish.Models.DishViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Namn
                </th>
                <th>
                    Beskrivning
                </th>
                <th>
                    Pris
                </th>
                <th>
                    Kategori
                </th>
                <th>
                    Aktiv
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dishes)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Model.Categories.FirstOrDefault(x => x.CategoryId == item.CategoryId).Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DishId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DishId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
