@model PizzeriaDelish.Models.ViewComponentViewModels.CartItemDetailsViewComponentViewModel
@inject PizzeriaDelish.Services.CartService _cartService

<div>
    <div>
        <a asp-controller="Cart"
           asp-action="GetCart"
           data-ajax="true"
           data-ajax-mode="replace"
           data-ajax-update="#cartWrap"
           data-ajax-method="GET">
            <span class="glyphicon glyphicon-remove">&nbsp;</span>
        </a>
    </div>
    <!--add ingredients-->
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Lägg till</th>
                <th>Pris</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ingredient ingredient in Model.AvailableIngredients.OrderBy(x => x.Name))
            {
                <tr>
                    <td>@ingredient.Name</td>
                    @if (Model.CartItem.Dish.DishIngredients.FirstOrDefault(x => x.IngredientId == ingredient.IngredientId) == null) 
                    {
                        <td>@ingredient.Price</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                    <td>
                        <a asp-controller="Cart"
                           asp-action="AlterItem"
                           asp-route-ingredientId="@ingredient.IngredientId"
                           asp-route-add="@true"
                           asp-route-cartItemId="@Model.CartItem.CartItemId"
                           data-ajax="true"
                           data-ajax-mode="replace"
                           data-ajax-update="#cartDetailsWrap"
                           data-ajax-method="POST">
                            <span class="glyphicon glyphicon-check">&nbsp;</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <!--remove ingredients-->
        <thead>
            <tr>
                <th>Ta bort</th>
                <th>Pris</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ingredient ingredient in Model.AddedIngredients.OrderBy(x => x.Name))
            {
                <tr>
                    <td>@ingredient.Name</td>
                    @if (Model.CartItem.Dish.DishIngredients.FirstOrDefault(x => x.IngredientId == ingredient.IngredientId) == null)
                    {
                        <td>@ingredient.Price</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                    <td>
                        <a asp-controller="Cart"
                           asp-action="AlterItem"
                           asp-route-ingredientId="@ingredient.IngredientId"
                           asp-route-add="@false"
                           asp-route-cartItemId="@Model.CartItem.CartItemId"
                           data-ajax="true"
                           data-ajax-mode="replace"
                           data-ajax-update="#cartDetailsWrap"
                           data-ajax-method="POST">
                            <span class="glyphicon glyphicon-remove-circle">&nbsp;</span>
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <i>Nytt pris:</i>
                </td>
                <td></td>
                <td>
                    <b>@_cartService.CalculatePrice(Model.CartItem)</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>