@model PizzeriaDelish.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        @if (Model.Dishes.Any())
        {
            <input type="submit" disabled value="Delete" class="btn btn-default" />
            <p class="text-danger">Följande maträtt(er) tillhör denna kategori och måste först ändras om kategorin ska tas bort:</p>
            <table>
                @foreach (Dish dish in Model.Dishes)
                {
                    <tr>
                        <td>
                            <a asp-controller="Dish" asp-action="Edit" asp-route-id="@dish.DishId" target="_blank">@dish.Name</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <input type="submit" value="Delete" class="btn btn-default" />
        }
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
